{% extends "base_staf.html" %}

{% block content %}
<div class="container-fluid">
  <h1 class="mt-4" style="text-align: center;">DATA MITRA</h1>
  <ol class="breadcrumb mb-4">
  </ol>
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover " id="" width="100%" cellspacing="2">
            <button type="button" class="btn btn-warning mb-4 rounded-pill" data-toggle="modal" data-target="#input"
              style="background-color:rgb(255, 214, 0); color: black;">
              <span><span>&#43;</span><b> I N P U T </b></span>
            </button>
            <thead>
              <tr style="background-color: #625f53; color: aliceblue;">
                <th scope="col">#</th>
                <th scope="col">Nama Mitra</th>
                <th scope="col">PIC</th>
                <th scope="col">Nomer Telepon</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tr>
              {% for d in data %}
            </tr>
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{d.nama_mitra}}</td>
              <td>{{d.pic}}</td>
              <td>{{d.telp}}</td>
              <td>
                <a href="/forums/{{d.id}}" type="submit" class="btn btn-primary">Masuk Grup</a>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#detail-{{d.id}}"
                  style="background-color:#625f53;">
                  <i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#update-{{d.id}}"
                  style="background-color:rgb(255, 214, 0);">
                  <i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-{{d.id}}">
                  <i class="fas fa-trash-alt"></i></i></button>
              </td>
            </tr>


            <!-- Modal Detail-->
            <div class="modal fade" id="detail-{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="detail">Detail Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col">Nama Mitra</div>
                          <div class="col-lg-9 col-md-9 col">: {{d.nama_mitra}}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col">ALamat</div>
                          <div class="col-lg-9 col-md-9 col">: {{d.alamat}}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col">Deskripsi</div>
                          <div class="col-lg-9 col-md-9 col">: {{d.deskripsi}}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col">PIC</div>
                          <div class="col-lg-9 col-md-9 col">: {{d.pic}}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col">Nomer Telepon</div>
                          <div class="col-lg-9 col-md-9 col">: {{d.telp}}</div>
                        </div>
                      </li>
                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal update -->
              <div class="modal fade" id="update-{{d.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="update">Edit Data</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/mitras/{{d.id}}/update/" method="POST" class="mt-3">
                        {% csrf_token %}

                        <div class="form-group">
                          <label for="">Nama Mitra</label>
                          <input type="text" name="nama_mitra" value="{{d.nama_mitra}}" class="form-control mt-2">
                        </div>
                        <div class="form-group">
                          <label for="">Alamat</label>
                          <input type="text" name="alamat" value="{{d.alamat}}" class="form-control mt-2">
                        </div>
                        <div class="form-group">
                          <label for="">Deskripsi</label>
                          <input type="text" name="deskripsi" value="{{d.deskripsi}}" class="form-control mt-2">
                        </div>
                        <div class="form-group">
                          <label for="">PIC</label>
                          <input type="text" name="pic" value="{{d.pic}}" class="form-control mt-2">
                        </div>
                        <div class="form-group">
                          <label for="">Nomer Telepon</label>
                          <input type="text" name="telp" value="{{d.telp}}" class="form-control mt-2">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>


              <!-- Modal Delete -->
              <div class="modal fade" id="delete-{{d.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete">Delete Data LAB-SOS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-body">
                        <p> Do You want To delete
                          <strong>{{d.nama_mitra}}</strong>?</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" type="button" data-dismiss="modal" aria-label="Close">
                        No
                      </button>
                      <a href="/mitras/{{d.id}}/delete" type="submit" class="btn btn-danger">Yes</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Modal Input -->
              <div class="modal fade" id="input" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="input">Input Mitra PKL</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form_forum|crispy }}
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Input</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </table>
        </div>


        {% endblock %}