{% extends "base_staf.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h4 class="mt-4" style="font-family: serif;">Dashboard</h4>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Total Mahasiswa Labsos : 150</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small>100% dari total keseluruhan</small>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Mahasiswa Persiapan Labsos : 75</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small>50% dari total Keseluruhan</small>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Mahasiswa aktif Labsos : 35 </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small>5,06% dari total Keseluruhan</small>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Mahasiswa Mengulang Labsos : 30</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small>40% dari total Keseluruhan</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Aktifitas Labsos
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Sebaran Lokasi Labsos
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>
{% endblock %}