{% extends "base_dosen.html" %}

{% block content %}
<div class="container-fluid" style="padding: 5px;">
  <button type="button" class="btn-primary" onclick="history.back();"><i class="fas fa-arrow-left"></i>
    Previous</button>
  <h4 class="mt-4 mb-4" style="text-align: center;">Data Peserta Labsos</h4>
  <div class="table-responsive">
    <table class="table table-hover" id="" width="100%" cellspacing="2">
      <thead>
        <tr style="background-color: #625f53; color: aliceblue;">
          <th>No</th>
          <th>Nim</th>
          <th>Judul</th>
          <th>Nama Mitra</th>
          <th>Tanggal Pelaksanaan</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for d in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{d.owner}}</td>
        <td><a href="/dosenah/{{d.id}}">{{d.judul}}</a></td>
        <td>{{d.nama_mitra}}</td>
        <td>{{d.tanggal_mulai}} - {{d.tanggal_selesai}}</td>
        <td>
          {% if d.approve == True %}
          <span class="text-success">Approved</span>
          {% else %}
          <span class="text-warning">Process</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}