{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="padding: 5px;">
    <button type="button" class="btn-primary" onclick="history.back();"><i class="fas fa-arrow-left"></i> Previous</button>
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4" style="text-align: center;">Forum {{data.nama_mitra}}</h2>
            <br>
            <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                <h3>Upload File Mingguan !!</h3>
                <hr>
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {{ form|crispy }}
                {{ form_gambar }}
                <button type="submit" class="btn btn-warning mb-3 rounded-pill"
                    style="background-color:rgb(255, 214, 0); color: black;">
                    <span><span>&#43;</span><b> BUAT POSTINGAN </b></span>
                </button>
            </form>
            <div class="row">
                <div class="col-12">
                    {% for d in data.posting.all %}
                    <div class="card" style="box-shadow:0 0 black;">
                        <div class="card-body">
                            <!-- This is some text within a card body. -->
                            <div class="media-body">
                                <div style="text-align: right;">
                                    <a href="#delete-{{d.id}}" data-toggle="modal"
                                        data-target="#delete-{{d.id}}">Hapus</a>
                                </div>
                                <h5>{{d.owner}} <small><i>Posted on {{d.waktu}}</i></small></h5>
                                <hr>
                                <p>{{d.desc}}</p>
                                <p>
                                    <a href="{{d}}">{{d.upload_img_url}}</a>
                                </p>
                                <form action="/forum/{{data.id}}/posting/{{d.id}}/komen" method="post" class="mt-3"
                                    enctype="multipart/form-data">
                                    {% load crispy_forms_tags %}
                                    {% csrf_token %}
                                    {{ form_komen|crispy }}
                                    <button class="btn btn-primary">Sent</button>
                                    <!-- {{ form_gambar|crispy }} -->
                                </form>
                                <br>
                                <div style="text-align: left;">
                                    <a href="#komen-{{d.id}}" data-toggle="collapse" data-target="#komen-{{d.id}}"
                                        role="button" aria-expanded="false" aria-controls="komen">show all comment</a>
                                </div>

                                {% for k in d.komentar.all %}
                                <div class="media p-3">
                                    <div class="collapse multi-collapse" id="komen-{{d.id}}">
                                        <!-- <img src="img_avatar2.png" alt="{{data.owner}}" class="mr-3 mt-3 rounded-circle" style="width:45px;"> -->
                                        <div class="media-body">
                                            <h5>{{k.pengguna}} <small><i>Posted on {{k.waktu}}</i></small></h5>
                                            <hr>
                                            <p>{{k.komentar}}</p>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2 align-items-center">
                                            <div class="px-4">
                                                {% if k.pengguna.id == request.user.id %}
                                                <a href="/forum/{{data.id}}/posting/{{d.id}}/komen/{{k.id}}/delete"
                                                    type="submit">Remove</a>
                                                {% endif %}
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Modal Delete -->
                    <div class="modal fade" id="delete-{{d.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="text-align: center;">
                                    <div class="modal-body">
                                        <h5> Do You want to delete this post ?</h5>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" type="button" data-dismiss="modal" aria-label="Close">
                                        No
                                    </button>
                                    <a href="/forum/{{data.id}}/posting/{{d.id}}/delete" type="submit"
                                        class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}