{% load static %}

{% block content %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview dan Cetak</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <style>
        h1 {
            text-align: center;
        }
        td,
        th {
            text-align: center;
            border: 1px solid;
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <img src="{% static 'css/UNU.png' %}" alt="" width="200px">
        <br>
        <br>
        <h3>Format</h3>
        <h3>LOG BOOK- CATATAN HARIAN KEGIATAN MAHASISWA</h3>
        <br>
    </div>
    <dl class="row">
        <dt class="col-1">Nama :</dt>
        <dd class="col-5">{{user}}</dd>
        <dt class="col-1">Labsos:</dt>
        <dd class="col-5">{{forum.nama_mitra}}</dd>
    </dl>
    <!-- <dl class="row">
        <dt class="col-1">NIM :</dt>
        <dd class="col-5">?</dd>
        <dt class="col-1">Tema :</dt>
        <dd class="col-5">?</dd>
    </dl> -->

    <dl class="row">
        <dt class="col-1">DPL:</dt>
        <dd class="col-5">{{pkl.nama_dosen}}</dd>
        <dt class="col-1">Judul :</dt>
        <dd class="col-5">{{pkl.judul}}</dd>
    </dl>
    <dl class="row">
        <!-- masih menggunakan inputan dosen -->
        <dt class="col-1">Fakultas:</dt>
        <dd class="col-5">{{dosen.fakultas}}</dd>
        <dt class="col-1">Prodi :</dt>
        <dd class="col-5">{{dosen.jurusan}}</dd> 
    </dl>
    <hr>
    <table class="table table-hover">
        <tr style="background-color:lightblue;">
            <th>No</th>
            <th>Tanggal Kegiatan</th>
            <!-- <th>Nama</th>
            <th>Judul</th> -->
            <th>Uraian</th>
            <th>Selang Waktu (Menit)</th>
        </tr>
        {% for d in cetak %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.tgl_kegiatan}}</td>
            <!-- <td>{{d.owner}}</td>
            <td>{{d.judul}}</td> -->
            <td>{{d.ket}}</td>
            <td>{{d.waktu_kegiatan}}</td>


        </tr>
        {% endfor %}
    </table>
    <script> window.print() </script>
</body>
</head>

</html>
{% endblock %}