{% extends "base_staf.html" %}

{% block content %}
<div class="container-fluid" style="padding: 5px;">
  <button type="button" class="btn-primary" onclick="history.back();"><i class="fas fa-arrow-left"></i> Previous</button>
  <h3 class="mt-4" style="text-align: center;">Pendaftaran Labsos</h3>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table table-hover" id="dataTable" width="100%" cellspacing="2">
            <thead>
              <tr style="background-color: #625f53; color: aliceblue;">
                <th>No</th>
                <th>Nim</th>
                <th>Judul</th>
                <th>Nama Mitra</th>
                <th>Dosen Pembimbing</th>
                <th>Tanggal Pelaksanaan</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for d in data %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{d.owner}}</td>
              <td>{{d.judul}}</td>
              <td>{{d.nama_mitra}}</td>
              <td>{{d.nama_dosen}}</td>
              <td>{{d.tanggal_mulai}} - {{d.tanggal_selesai}}</td>
              <td>
                {% if d.approve == True %}
                <span class="text-success">Approved</span>
                {% elif d.approve == False and d.reject == True %}
                <span class="text-danger">Reject</span>
                {% elif d.reject == False and d.approve == False %}
                <span class="text-warning">Process</span>
                {% endif %}
              </td>
              <td>
                <!-- <a type="button" class="btn btn-success" href="/mahasiswas/{{d.id}}">Detail</a> -->
                <a type="button" class="btn btn-primary" href="/mahasiswas/{{d.id}}/approve"><i
                    class="fas fa-check"></i></a>
                <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#reject-{{d.id}}"><i
                    class="fas fa-minus-circle"></i></a>
                <a type="button" class="btn btn-danger" href="/mahasiswas/{{d.id}}/delete"><i
                    class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <!-- Modal reject -->
            <div class="modal fade" id="reject-{{d.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="input">Reject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/mahasiswas/{{d.id}}/reject/" method="post" class="mt-3"
                      enctype="multipart/form-data">
                      {% load crispy_forms_tags %}
                      {% csrf_token %}
                      {{ form_reject|crispy }}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" href=/mahasiswas/{{d.id}}/reject/ class="btn btn-warning">
                          <i class="fas fa-minus-circle"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endblock %}